{
.appVersion = "3091";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
date = "2020-07-26 21:51:37 +0000";
familyName = Newquay;
fontMaster = (
{
axesValues = (
100
);
id = "CA145713-800E-4AD6-B2AC-DB97E56B9903";
metricValues = (
{
pos = 800;
},
{
pos = 700;
},
{
pos = 500;
},
{
},
{
pos = -200;
},
{
}
);
name = Regular;
}
);
instances = (
{
axesValues = (
100
);
instanceInterpolations = {
"CA145713-800E-4AD6-B2AC-DB97E56B9903" = 1;
};
name = Regular;
}
);
kerningLTR = {
"CA145713-800E-4AD6-B2AC-DB97E56B9903" = {
"@MMK_L_o" = {
f = -10;
quotesingle = -80;
y = -50;
};
A = {
C = -40;
G = -40;
O = -40;
T = -100;
V = -90;
W = -90;
Y = -150;
quoteright = -170;
};
B = {
comma = -20;
quoteright = -110;
};
C = {
"@MMK_R_o" = -30;
O = -10;
};
D = {
A = -20;
comma = -50;
quoteright = -80;
};
E = {
A = -10;
v = -20;
};
F = {
A = -50;
comma = -90;
};
G = {
quoteright = -70;
};
I = {
quotesingle = 0;
};
J = {
A = -20;
comma = -50;
};
K = {
"@MMK_R_o" = -70;
a = -30;
hyphen = -70;
quoteright = -30;
};
L = {
O = -40;
T = -110;
Y = -130;
a = -20;
e = -30;
quoteright = -120;
quotesingle = -130;
v = -100;
y = -90;
};
N = {
quotesingle = 0;
};
O = {
A = -30;
J = -70;
S = -10;
V = -30;
W = -40;
X = -50;
Y = -70;
comma = -40;
quoteright = -70;
};
P = {
A = -90;
S = -20;
a = -50;
comma = -140;
e = -40;
quoteright = -70;
};
Q = {
quoteright = -60;
};
R = {
Y = -60;
a = -40;
e = -40;
o = -40;
quoteright = -60;
quotesingle = -20;
};
S = {
A = -20;
T = -10;
comma = -30;
t = -10;
w = -50;
};
T = {
"@MMK_R_o" = -120;
A = -80;
C = -50;
O = -40;
comma = -90;
hyphen = -50;
};
U = {
comma = -30;
};
V = {
"@MMK_R_o" = -70;
A = -50;
comma = -90;
};
W = {
A = -60;
a = -80;
comma = -100;
};
Y = {
A = -130;
O = -70;
S = -50;
comma = -130;
"@MMK_R_o" = -130;
};
Z = {
a = -40;
comma = 0;
};
e = {
v = -40;
w = -30;
y = -50;
};
f = {
a = -40;
e = -50;
o = -50;
};
h = {
y = -20;
};
k = {
"@MMK_R_o" = -40;
e = -70;
};
m = {
y = -30;
};
n = {
quoteright = -130;
quotesingle = -140;
};
o = {
v = -40;
w = -40;
x = -60;
};
p = {
y = -60;
};
period = {
zero = -50;
};
quoteright = {
C = -70;
S = -40;
s = -140;
};
quotesingle = {
S = -30;
e = 0;
s = -80;
};
r = {
"@MMK_R_o" = -30;
a = -30;
c = -30;
e = -30;
o = -30;
};
s = {
y = -20;
};
t = {
a = -30;
c = -50;
e = -40;
o = -50;
};
three = {
period = -20;
};
v = {
"@MMK_R_o" = -30;
e = -40;
};
w = {
a = -50;
s = -20;
};
x = {
e = -50;
};
y = {
"@MMK_R_o" = -30;
e = -40;
quoteright = -50;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
"CA145713-800E-4AD6-B2AC-DB97E56B9903" = {
};
};
};
versionMajor = 1;
versionMinor = 0;
}
