(
A,
Aogonek,
B,
C,
Ccedilla,
D,
E,
Eogonek,
F,
G,
H,
I,
J,
K,
L,
M,
N,
Ntilde,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
adotaccent,
aring,
b,
c,
ccedilla,
d,
e,
eogonek,
f,
g,
h,
i,
j,
k,
l,
m,
n,
ntilde,
o,
oacute,
obreve,
ocaron,
ocircumflex,
odieresis,
ograve,
omacron,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
onesuperior,
twosuperior,
threesuperior,
onehalf,
onequarter,
threequarters,
space,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
underscore,
parenleft,
parenright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
at,
ampersand,
brokenbar,
dollar,
plus,
minus,
multiply,
equal,
greater,
less,
asciicircum,
percent,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
cedillacomb,
ogonekcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek
)