(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
onesuperior,
twosuperior,
threesuperior,
onehalf,
onequarter,
threequarters,
space,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
underscore,
parenleft,
parenright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
at,
ampersand,
brokenbar,
dollar,
plus,
minus,
multiply,
equal,
greater,
less,
asciicircum,
percent,
grave
)